.header {
    $parent: &;
    width: 100%;
    height: $header-height;
    background-color: #ffffff;

    > #{$parent}-contents-wrapper {
        position: absolute;
        z-index: 99; //子要素も全面に来るのでここで対応しておく
        top: calc(calc(calc($header-height - 20px) / 2) - 10px);
        right: 1em;
        
        > #{$parent}-contents {
            background-color: $bgc;
            height: calc($header-height - 20px);
            line-height: calc($header-height - 20px);
            text-align: center;
            font-size: 13px;
            color: #666666;
            border-radius: 20px;
            
            .header-option {
                background-color: $bgc;
                $margin: 10px;
                // margin: #{$margin};
                padding: 0 10px 0;
                line-height: calc(#{$header-height} - calc(#{$margin} * 2));
                display: flex;
                border-radius: 20px;
            }

            .register, .login {
                padding: 0 10px 0;
            }
            .register:hover, .login:hover {
                cursor: pointer;
            }

            > #{$parent}-loginUser {
                height: auto;
                
                & > #{$parent}-loginUser-Menu {
                    background-color: $bgc;
                    margin-top: -1.7em;
                    width: 13em;
                    padding: 10px;
                    text-align: right;
                    border-radius: 0px 0px 20px 20px;
                    height: 0;
                    opacity: 0;
                    pointer-events: none;
                    
                    .header-Logout-botton, .header-Mypage-botton, .header-Home-botton {
                        padding-top: 10px;
                        background-color: transparent;
                        // width: 100px;
                        border-radius: 10px;
                        color: #666666;
                        border: none;
                        pointer-events: all;
                    }
                }
                
                & > #{$parent}-loginUser-Menu.active {
                    transition: all 1s;
                    height: auto;
                    opacity: 1; 
                } 
            }
        }
    }
}