$header-height: 60px;
$bgc: #e0e0e0;
$status-color: #ffffff;
$add-item-height: 50px;

* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    height: 100vh;
    background-color: $bgc;
}

.display-block {
    display: block !important;
}

.error-message-type {
    color: red;
    font-style: italic;
    font-size: 14px;
}
.error-message-type1 {
    @extend .error-message-type;
    // margin-top: -10px;
    // margin-bottom: -15px;
}
.error-message-type2 {
    @extend .error-message-type;
    margin-left: 1.5em;
}

.error-message-type3 {
    @extend .error-message-type;
    font-size: 12px !important;    
}
.success-message-type {
    color: blue;
    font-style: italic;
    font-size: 15px;
}

.success-message-type1 {
    @extend .success-message-type;
    margin-top: 1em;
}

.success-message-type2 {
    @extend .success-message-type;
    font-size: 12px !important;
}

.toggle-off {
    text-decoration: line-through 5px;
}

.common-form-password {

    display: flex;
    position: relative;

     span {
        display: none;
        font-size: 1.5em;
        position: absolute;
        right: 0.3em;
    }
}