* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

body {
  height: 100vh;
  background-color: #e0e0e0;
}

.display-block {
  display: block !important;
}

.error-message-type, .error-message-type3, .error-message-type2, .error-message-type1 {
  color: red;
  font-style: italic;
  font-size: 14px;
}

.error-message-type2 {
  margin-left: 1.5em;
}

.error-message-type3 {
  font-size: 12px !important;
}

.success-message-type, .success-message-type2, .success-message-type1 {
  color: blue;
  font-style: italic;
  font-size: 15px;
}

.success-message-type1 {
  margin-top: 1em;
}

.success-message-type2 {
  font-size: 12px !important;
}

.toggle-off {
  -webkit-text-decoration: line-through 5px;
          text-decoration: line-through 5px;
}

.common-form-password {
  display: flex;
  position: relative;
}
.common-form-password span {
  display: none;
  font-size: 1.5em;
  position: absolute;
  right: 0.3em;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
}
.header > .header-contents-wrapper {
  position: absolute;
  z-index: 99;
  top: 10px;
  right: 1em;
}
.header > .header-contents-wrapper > .header-contents {
  background-color: #e0e0e0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 13px;
  color: #666666;
  border-radius: 20px;
}
.header > .header-contents-wrapper > .header-contents .header-option {
  background-color: #e0e0e0;
  padding: 0 10px 0;
  line-height: calc(60px - calc(10px * 2));
  display: flex;
  border-radius: 20px;
}
.header > .header-contents-wrapper > .header-contents .register, .header > .header-contents-wrapper > .header-contents .login {
  padding: 0 10px 0;
}
.header > .header-contents-wrapper > .header-contents .register:hover, .header > .header-contents-wrapper > .header-contents .login:hover {
  cursor: pointer;
}
.header > .header-contents-wrapper > .header-contents > .header-loginUser {
  height: auto;
}
.header > .header-contents-wrapper > .header-contents > .header-loginUser > .header-loginUser-Menu {
  background-color: #e0e0e0;
  margin-top: -1.7em;
  width: 13em;
  padding: 10px;
  text-align: right;
  border-radius: 0px 0px 20px 20px;
  height: 0;
  opacity: 0;
  pointer-events: none;
}
.header > .header-contents-wrapper > .header-contents > .header-loginUser > .header-loginUser-Menu .header-Logout-botton, .header > .header-contents-wrapper > .header-contents > .header-loginUser > .header-loginUser-Menu .header-Mypage-botton, .header > .header-contents-wrapper > .header-contents > .header-loginUser > .header-loginUser-Menu .header-Home-botton {
  padding-top: 10px;
  background-color: transparent;
  border-radius: 10px;
  color: #666666;
  border: none;
  pointer-events: all;
}
.header > .header-contents-wrapper > .header-contents > .header-loginUser > .header-loginUser-Menu.active {
  transition: all 1s;
  height: auto;
  opacity: 1;
}

.modal-card, .modal > .group-modal-card, .modal > .add-modal-card {
  z-index: 999;
  position: fixed;
  padding: 15px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
}

.modal {
  z-index: 998;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal > .add-modal-card {
  width: 300px;
}
.modal > .add-modal-card .modal-contents > p:first-of-type {
  text-align: center;
  color: rgba(88, 120, 203, 0.862745098);
}
.modal > .add-modal-card .modal-contents textarea {
  resize: none;
}
.modal > .add-modal-card .add-send-btn {
  width: 100%;
  height: 30px;
  margin-top: 10px;
}
.modal > .group-modal-card {
  width: 400px;
}
.modal > .group-modal-card .modal-title {
  text-align: center;
  color: rgba(88, 120, 203, 0.862745098);
  margin-bottom: 10px;
}
.modal > .group-modal-card .modal-item {
  display: flex;
}
.modal > .group-modal-card .modal-item > p {
  font-size: 14px;
  width: 30%;
}
.modal > .group-modal-card .modal-item > input {
  width: 70%;
}
.modal > .group-modal-card .modal-item .color {
  width: 15%;
}
.modal > .group-modal-card .modal-item:not(:first-of-type) {
  margin-top: 10px;
}
.modal > .group-modal-card .group-add-send {
  display: block;
  padding: 0 10px 0 10px;
  margin: 20px auto 0px;
}
.modal > .item-modal-card {
  z-index: 999;
  position: fixed;
  width: 300px;
  padding: 15px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
}
.modal > .item-modal-card .contents > p:first-of-type {
  text-align: center;
  color: rgba(88, 120, 203, 0.862745098);
}
.modal > .item-modal-card .contents textarea {
  resize: none;
}
.modal > .item-modal-card .contents .modal-group {
  width: 100px;
}
.modal > .item-modal-card .add-send-btn {
  width: 100%;
  height: 30px;
  margin-top: 10px;
}
.modal > .modal-login-card, .modal > .modal-register-card {
  z-index: 999;
  position: fixed;
  width: 450px;
  height: auto;
  padding: 15px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
}
.modal > .modal-login-card .contents > p:first-of-type, .modal > .modal-register-card .contents > p:first-of-type {
  text-align: center;
  color: black;
  font-size: 20px;
}
.modal > .modal-login-card .contents input, .modal > .modal-register-card .contents input {
  width: 100%;
}
.modal > .modal-login-card .contents > div, .modal > .modal-register-card .contents > div {
  margin-top: 1em;
}
.modal > .modal-login-card .contents > div input, .modal > .modal-register-card .contents > div input {
  height: 1.5em;
}
.modal > .modal-login-card .send-btn, .modal > .modal-register-card .send-btn {
  width: 100%;
  height: 30px;
  margin-top: 25px;
}
.modal > .modal-register-card .contents > div:nth-of-type(1) > input {
  width: 35%;
}

.root-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.session-loginMessage {
  background-color: #e0e0e0;
}
